/* #049DBF, https://fonts.google.com/specimen/Open+Sans*/

@import url('https://fonts.google.com/specimen/Open+Sans');
html,
body {
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #222;
    background-color: #EAEAEA;
}

.container-fluid {
    padding: 0;
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
    margin: 10px;
}

.navbar {
    background-color: #049DBF!important;
    padding: 0 4em;
}

.navbar a {
    color: #fff;
}

.nav-item {
    align-items: center;
    font-size: 0.7em;
}

.nav-link img {
    height: 2em;
}

.navbar-brand img {
    height: 2.5rem;
}

.navbar .active {
    border-bottom: 3px solid #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3)
}
.course-card img{
    width: 2em;
}
.dropdown-content a {
    color: #049DBF;
    font-size: 18px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-divider {
    margin: 0;
    color: #049DBF;
}

.link-subject {
    color: #222;
    font-size: 16px;
    font-weight: bold;
}

.footer-content h5 {
    color: #049DBF;
    margin-bottom: 0 !important;
}

h5 {
    color: #049DBF;
    font-size: 18px;
    font-weight: 800;
}

hr {
    background: #049DBF;
    border: 0.05em solid #049DBF;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: left;
    margin-left: 0;
}

.course {
    background-color: #EAEAEA;
    padding: 0 0 25px 10px;
}

.btn {
    margin-bottom: 0.2em;
    margin-right: 1em;
    background-color: #32CD32;
    padding: 0 1em;
    color: #fff;
}

.ongoing-course p {
    margin-bottom: 0px;
}

.ongoing-course {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 20px 50px 20px;
    margin-top: 25px;
    margin-right: 4em;
    box-shadow: 0px 10px 6px -6px #999999;
    border-radius: 5px;
}

.ongoing-course .course-card {
    border: 3px solid #32CD32;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.course-space {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 20px 50px 20px;
    margin-top: 25px;
    margin-right: 4em;
    box-shadow: 0px 10px 6px -6px #999999;
    border-radius: 5px;
}

.course-card {
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    align-items: flex-end;
}

.finished {
    border: 3px solid #32CD32;
}

.unfinished {
    border: 3px solid #f86707;
}

.course-card span {
    font-size: 0.9em;
    font-style: italic;
}

.all-course .course-card {
    margin: 10px 0;
}

.footer-gap {
    background-color: #049DBF;
    padding: 25px 200px 5px 200px;
    font-size: 15px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.footer-gap h5 {
    color: #465560;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.footer-gap hr {
    color: #C4C4C4;
    border-top: 2px solid #c4c4c4;
    width: 60%;
}

.footer-content span i {
    padding-right: 10px;
}

.footer-content p {
    margin-bottom: 10px;
}

.footer-content a:link,
a:visited {
    color: black;
    margin: 0px;
}

.footer-content ul {
    padding-left: 0;
}

.footer-content li {
    padding-bottom: 10px;
}

.btn-1 {
    background-color: #049DBF;
    border: 0px #049DBF;
    border-collapse: 0px;
}

.btn-img {
    width: 40px;
}

.container-fluid .row {
    margin: 0;
}

.copyright-text {
    background-color: #181818;
    text-align: center;
    padding: 8px;
    color: #999;
    font-size: 14px;
    width: 100%;
    margin: 0;
}

.copyright-text p {
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

@media (max-width: 991px) {
    .footer-gap {
        padding: 25px 10px 5px 10px;
    }
    .footer-content {
        margin-bottom: 15px;
    }
    .footer-content ul {
        margin-bottom: 0;
    }
}


/* Home calendar */


/* Month header */

.calendar {
    background-color: #d3d1d1;
    padding-left: 4em;
    position: relative;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 11%;
    /*left: 10px;*/
    /*right: 20px;*/
    /*bottom: 10px;*/
}

.calendar-content {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 15px;
    box-shadow: 0px 10px 6px -6px #999999;
    border-radius: 5px;
}

.calendar-content h5 {
    text-align: center;
}

.calendar-content hr {
    margin-bottom: 0;
    padding-bottom: 0;
}

.months {
    padding: 0px 10px 5px 10px;
    width: 100%;
    background: #ADE0EC;
    text-align: center;
    align-items: center;
    border: 1px solid #ADE0EC;
}


/* Month list */

.months ul {
    margin: 0;
    padding: 0;
}

.months ul li {
    color: #111;
    font-size: 16px;
}


/* Previous button inside month header */

.months .prev {
    padding-left: 10px;
    float: left;
}


/* Next button */

.months .next {
    padding-right: 10px;
    float: right;
}


/* Weekdays (Mon-Sun) */


/* .weekdays {
	margin: 0;
	padding: 10px 0;
	background-color: #ADE0EC;
  }
  
  .weekdays li {
	display: inline-block;
	width: 12.6%;
	color: #666;
	text-align: center;
	font-size: 15px;
  } */


/* Days (1-31) */

.days {
    padding: 5px 10px;
    background: #ADE0EC;
    margin: 0;
    font-weight: 700;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12.6%;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    color: #222;
}


/* Highlight the "current" day */

.days .day-active {
    background-color: #049DBF !important;
    color: #fff;
}


/* The day not in current month */

.days li .disable {
    color: #5C5C5C !important;
}

.days li:hover {
    background-color: #999;
}


/* End Home calendar */


/* menu */

.menu {
    background-color: #d3d1d1;
    padding-left: 100px;
    position: relative;
}

.menu-content {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 15px;
    box-shadow: 0px 10px 6px -6px #999999;
    border-radius: 5px;
}

.menu-content h5 {
    text-align: center;
}

.menu-content hr {
    margin-bottom: 0;
    padding-bottom: 0;
}

.menu-list ul {
    padding: 10px 25px;
    width: 100%;
    background: #ADE0EC;
    text-align: left;
    font-size: 16px;
}

.menu-list a {
    color: #222;
}

.menu-list ul .active {
    font-weight: 500;
}


/* End menu */


/* subject */

.subject {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: #fff;
}

.name-subject {
    border: 1px solid #049DBF;
    border-radius: 5px;
    padding: 10px 35px;
    margin-bottom: 25px;
    color: #049DBF;
    text-align: center;
    align-items: center;
}

.name-subject h4 {
    font-size: 21px;
    font-weight: bold;
}

.subject-info {
    background-color: hsl(191, 62%, 80%);
    padding: 10px 25px;
    z-index: 1;
    margin: 0 200px
}


/* End subject */


/*Subject-detail*/

.timeline-bar {
    position: relative;
    font-size: 18px;
}

.timeline-bar::before {
    position: absolute;
    content: '';
    border: 2px solid #049DBF;
    background: #049DBF;
    height: 97%;
    display: block;
    top: 26px;
    left: 50%;
    margin-left: -1px;
}

.timeline-bar .row {
    content: " ";
    display: table;
    margin-left: -15px;
    margin-right: -15px;
}

.timeline_box {
    color: #111;
    background-color: #ADE0EC;
    background-size: 250% auto;
    border: 4px dashed #049DBF;
}

.timeline-bar--right .timeline-box {
    margin: 30px 0 30px 30px;
    border-left-color: transparent;
    padding: 30px;
    border: 4px dashed #049DBF;
}

.timeline-bar--left .timeline-box {
    margin: 30px 30px 30px 0px;
    border-right-color: transparent;
    padding: 30px;
    border: 4px dashed #049DBF;
}

.timeline-circle {
    background: #049DBF;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    border: 4px solid #049DBF;
}

.timeline-egde {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.timeline-content {
    font-weight: 500;
}

@media (min-width: 768px) {
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .timeline-bar--right .timeline-circle {
        right: auto;
        left: -30px;
    }
    .timeline-bar--left .timeline-circle {
        right: auto;
        right: -30px;
    }
    .timeline-bar--right .timeline-box-chapter {
        left: auto;
        right: calc(100% + 50px);
        right: -webkit-calc(100% + 50px);
    }
    .timeline-bar--left .timeline-box-chapter {
        right: auto;
        left: calc(100% + 50px);
        left: -webkit-calc(100% + 50px);
    }
    .timeline-box-chapter {
        font-size: 13px;
        font-weight: 700;
        background: #32CD32;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        margin-top: -14px;
        right: -100px;
        color: #fff;
        right: auto;
        white-space: nowrap;
    }
    .timeline-circle {
        position: absolute;
        top: 50%;
        right: -70px;
        background: #ADE0EC;
        color: #fff;
        width: 50px;
        height: 50px;
        margin-top: -25px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        box-sizing: content-box;
    }
}


/* .timeline-bar--right {
	float: right;
} */


/*Forum*/

.img-forum {
    width: 80px;
    margin-top: 20px;
    margin-right: 200px;
}

.forum-custom {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: 1px solid #049DBF;
    border-radius: 10px;
}

.forum-custom:hover {
    box-shadow: 0px 10px 6px -6px #999999;
    background-color: #E5E5E5;
}

.forum-text {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

#text-01-forum {
    font-weight: bold;
    padding-top: 20px;
}

#text-02-forum {
    padding-top: 20px;
}

.forum-text a {
    color: #049DBF;
}

.subtext {
    font-size: 16px;
    padding-bottom: 20px;
}

.title-forum {
    margin: 0px;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: #049DBF;
    font-weight: bold;
}

#body-forum {
    text-align: center;
}

#moreInfo {
    font-style: italic;
    text-decoration: underline;
}


/* .timeline-bar--right {
	float: right;
} */

.img-forum {
    width: 80px;
    margin-top: 20px;
    margin-right: 200px;
}

.forum-custom {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: 1px solid #049DBF;
    border-radius: 10px;
}

.forum-custom:hover {
    box-shadow: 0px 10px 6px -6px #999999;
    background-color: #E5E5E5;
}

.forum-text {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

#text-01-forum {
    font-weight: bold;
    padding-top: 20px;
}

#text-02-forum {
    padding-top: 20px;
}

.forum-text a {
    color: #049DBF;
}

.subtext {
    font-size: 16px;
    padding-bottom: 20px;
}

.title-forum {
    margin: 0px;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: #049DBF;
    font-weight: bold;
}

#body-forum {
    text-align: center;
}

#moreInfo {
    font-style: italic;
    text-decoration: underline;
}

.more {
    text-align: center;
}

.more button {
    border: none;
    background: none;
    font-style: italic;
    text-decoration: underline;
    font-size: 0.7em;
}

.img-playvideo {
    margin-top: 16px;
    margin-right: 200px;
}

.comment h6 {
    font-size: 16px;
}

.comment p {
    font-size: 14px;
}

.comment-input {
    border: 2px solid #049DBF;
    padding: 15px;
}

.comment-form {
    border: transparent;
}

.form-control {
    border: transparent;
    padding: 20px;
    font-size: 16px;
}

.form-inline {
    margin: 0;
    display: flex;
}

.container-contact {
    background-color: #049DBF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding: 0px 20px 50px 20px;
    margin: 0 auto;
    box-shadow: 0px 10px 6px -6px #999999;
    border-radius: 5px;
}

.column {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    vertical-align: auto;
    text-align: center;
}

.contact-h4 {
    color: white;
    text-align: center;
    font-family: roboto;
    margin-top: 30px;
}

.bt-2 {
    background-color: rgb(245, 245, 245);
    border: none;
    width: 50px;
    height: 50px;
}

.contact-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    border: none;
}

#maps {
    width: 100%;
    height: 500px;
}

#map {
    font-style: bold;
    color: #049DBF;
    text-align: center;
}

.container {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding: 0px 20px 50px 20px;
    margin: 0 auto;
    box-shadow: 0px 10px 6px -6px #999999;
    border-radius: 5px;
}

.contact-div-title {
    background-color: #049DBF;
    padding-top: 1px;
    padding-bottom: 5px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

label {
    margin-left: 0;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    width: 75%;
    margin: 0 auto;
}