<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trang chủ</title>

    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="CIU - Create, Intelligence, Unique" />
    <!--// Meta tag Keywords -->

    <!-- css files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Boostrap-->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->

    <link rel="stylesheet" href="css/jquery.countdown.css" />

</head>

<body>


    <!-- header -->
    <!-- nav -->
    <nav class="navbar navbar-expand-md navbar-dark bg-light sticky-top shadow-sm">
        <!-- Logo -->
        <a class="navbar-brand py-0" href="#"><img src="images/LOGO.png" alt="logo"></a>
        <!-- Navbar toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="course.html" id="navbarDropdown">Lớp học</a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="#">Mạng xã hội</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Thương mại điện tử</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Tối ưu hóa công cụ tìm kiếm</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Công nghệ Java</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="calendar.html">Lịch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="forum.html">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Về CIU</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="images/iconTimKiem.png" alt="icon tim kiem"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="images/iconThongBao.png" alt="icon thong bao"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown"><img src="images/iconTaikhoan.png" alt="icon tai khoan"></i>
                    </a>
                    <div class="dropdown-content dropdown-menu-right">
                        <a class="dropdown-item" href="#">Hồ sơ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Cài đặt</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Tiện tích</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- //nav -->
    <!-- //header -->
    <!-- Calendar -->
    <!-- <div class="container theme-showcase">
        <div id="holder" class="row"></div>
    </div> -->

    <section class="container-calendar">
        <div class="calendar-event">
            <div id="calendar"></div>
        </div>

    </section>


    <!-- <script type="text/tmpl" id="tmpl">
    {{ 
    var date = date || new Date(),
        month = date.getMonth(), 
        year = date.getFullYear(), 
        first = new Date(year, month, 1), 
        last = new Date(year, month + 1, 0),
        startingDay = first.getDay(), 
        thedate = new Date(year, month, 1 - startingDay),
        dayclass = lastmonthcss,
        today = new Date(),
        i, j; 
    if (mode === 'week') {
      thedate = new Date(date);
      thedate.setDate(date.getDate() - date.getDay());
      first = new Date(thedate);
      last = new Date(thedate);
      last.setDate(last.getDate()+6);
    } else if (mode === 'day') {
      thedate = new Date(date);
      first = new Date(thedate);
      last = new Date(thedate);
      last.setDate(thedate.getDate() + 1);
    }
    
    }}
    <table class="calendar-table table table-condensed table-tight">
      <thead>
        <tr>
          <td colspan="7" style="text-align: center">
            <table style="white-space: nowrap; width: 100%">
              <tr>
                <td style="text-align: left;">
                  <span class="btn-group">
                    <button class="js-cal-prev btn btn-default">&lt;</button>
                    <button class="js-cal-next btn btn-default">&gt;</button>
                  </span>
                  <button class="js-cal-option btn btn-default {{: first.toDateInt() <= today.toDateInt() && today.toDateInt() <= last.toDateInt() ? 'active':'' }}" data-date="{{: today.toISOString()}}" data-mode="month">{{: todayname }}</button>
                </td>
                <td>
                  <span class="btn-group btn-group-lg">
                    {{ if (mode !== 'day') { }}
                      {{ if (mode === 'month') { }}<button class="js-cal-option btn btn-link" data-mode="year">{{: months[month] }}</button>{{ } }}
                      {{ if (mode ==='week') { }}
                        <button class="btn btn-link disabled">{{: shortMonths[first.getMonth()] }} {{: first.getDate() }} - {{: shortMonths[last.getMonth()] }} {{: last.getDate() }}</button>
                      {{ } }}
                      <button class="js-cal-years btn btn-link">{{: year}}</button> 
                    {{ } else { }}
                      <button class="btn btn-link disabled">{{: date.toDateString() }}</button> 
                    {{ } }}
                  </span>
                </td>
                <td style="text-align: right">
                  <span class="btn-group">
                    <button class="js-cal-option btn btn-default {{: mode==='year'? 'active':'' }}" data-mode="year">Year</button>
                    <button class="js-cal-option btn btn-default {{: mode==='month'? 'active':'' }}" data-mode="month">Month</button>
                    <button class="js-cal-option btn btn-default {{: mode==='week'? 'active':'' }}" data-mode="week">Week</button>
                    <button class="js-cal-option btn btn-default {{: mode==='day'? 'active':'' }}" data-mode="day">Day</button>
                  </span>
                </td>
              </tr>
            </table>
            
          </td>
        </tr>
      </thead>
      {{ if (mode ==='year') {
        month = 0;
      }}
      <tbody>
        {{ for (j = 0; j < 3; j++) { }}
        <tr>
          {{ for (i = 0; i < 4; i++) { }}
          <td class="calendar-month month-{{:month}} js-cal-option" data-date="{{: new Date(year, month, 1).toISOString() }}" data-mode="month">
            {{: months[month] }}
            {{ month++;}}
          </td>
          {{ } }}
        </tr>
        {{ } }}
      </tbody>
      {{ } }}
      {{ if (mode ==='month' || mode ==='week') { }}
      <thead>
        <tr class="c-weeks">
          {{ for (i = 0; i < 7; i++) { }}
            <th class="c-name">
              {{: days[i] }}
            </th>
          {{ } }}
        </tr>
      </thead>
      <tbody>
        {{ for (j = 0; j < 6 && (j < 1 || mode === 'month'); j++) { }}
        <tr>
          {{ for (i = 0; i < 7; i++) { }}
          {{ if (thedate > last) { dayclass = nextmonthcss; } else if (thedate >= first) { dayclass = thismonthcss; } }}
          <td class="calendar-day {{: dayclass }} {{: thedate.toDateCssClass() }} {{: date.toDateCssClass() === thedate.toDateCssClass() ? 'selected':'' }} {{: daycss[i] }} js-cal-option" data-date="{{: thedate.toISOString() }}">
            <div class="date">{{: thedate.getDate() }}</div>
            {{ thedate.setDate(thedate.getDate() + 1);}}
          </td>
          {{ } }}
        </tr>
        {{ } }}
      </tbody>
      {{ } }}
      {{ if (mode ==='day') { }}
      <tbody>
        <tr>
          <td colspan="7">
            <table class="table table-striped table-condensed table-tight-vert" >
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th style="text-align: center; width: 100%">{{: days[date.getDay()] }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="timetitle" >All Day</th>
                  <td class="{{: date.toDateCssClass() }}">  </td>
                </tr>
                <tr>
                  <th class="timetitle" >Before 6 AM</th>
                  <td class="time-0-0"> </td>
                </tr>
                {{for (i = 6; i < 22; i++) { }}
                <tr>
                  <th class="timetitle" >{{: i <= 12 ? i : i - 12 }} {{: i < 12 ? "AM" : "PM"}}</th>
                  <td class="time-{{: i}}-0"> </td>
                </tr>
                <tr>
                  <th class="timetitle" >{{: i <= 12 ? i : i - 12 }}:30 {{: i < 12 ? "AM" : "PM"}}</th>
                  <td class="time-{{: i}}-30"> </td>
                </tr>
                {{ } }}
                <tr>
                  <th class="timetitle" >After 10 PM</th>
                  <td class="time-22-0"> </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
      {{ } }}
    </table>
  </script> -->
    <!-- //Calendar -->

    <!-- Footer -->
    <footer>
        <div class="container-fluid">
            <div>
                <div class="row footer-gap">
                    <div class="col-lg-4 col-sm-6 footer-content">
                        <h5 class="text-uppercase mb-3"><img src="images/logoCIU 1.png"></h5>
                        <p class="title-decription"><b>Creation - Intelligence - Uniqueness</b></p>
                        <p class="text-decription">Mang đến bạn những trải nghiệm học tập mà bạn đang tìm kiếm.</p>
                        <p class="text-decription">Cảm ơn bạn vì đã chọn CIU - Trường học trực tuyến hàng đầu Việt Nam.</p>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 footer-content">
                        <h5 class="text-uppercase mb-3">Về chúng tôi</h5>
                        <hr>
                        <ul>
                            <li><a href="about.html">Giới thiệu</a></li>
                            <li><a href="">Điều khoản chính sách</a></li>
                            <li><a href="">Quy chế hoạt động</a></li>
                            <li><a href="">Chính sách bảo mật thông tin</a></li>
                            <li><a href="">Giải quyết khiếu nại, tranh chấp</a></li>
                        </ul>
                    </div>
                    <!-- <div class="col-lg-2 col-sm-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
				
			</div> -->
                    <div class="col-lg-4 col-md-3 col-sm-6 footer-content">
                        <h5 class="text-uppercase mb-3">Liên hệ với chúng tôi</h5>
                        <hr>

                        <p>
                            <span><i class="fas fa-lg fa-map-marked-alt" style="color: #fff"></i></span>
                            <a href="">Số 23, Quảng trường Sáng tạo, TP. Độc Nhất</a>
                        </p>
                        <p>
                            <span><i class="fas fa-lg fa-phone" style="color: #fff"></i></span>
                            <a class="text-phonenumber" href="">08. 09289489</a>
                        </p>
                        <p>
                            <span><i class="fas fa-lg fa-envelope" style="color: #fff"></i></span>
                            <a class="text-mail" href="">ciuciu@gmail.com</a>
                        </p>
                        <div>
                            <button type="button" class="btn-1"><img class="btn-img" src="images/facebook-512 1.png"></button>
                            <button type="button" class="btn-1"><img class="btn-img" src="images/PngItem_517282 1.png"></button>
                            <button type="button" class="btn-1"><img class="btn-img" src="images/logo-rond-twitter 1.png"></button>
                        </div>

                    </div>

                </div>
                <div class="copyright-text">
                    <p>Bản quyền trực thuộc Trường học trực tuyến CIU <br> @2021 POWERED BY CIU </p>
                </div>
    </footer>

    <!-- //Footer -->

    <!-- js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>

    <!-- //js -->

    <!-- search-bar -->
    <script src="js/main.js"></script>
    <script src="js/calendar.js"></script>
    <!-- //search-bar -->


</body>

</html>